.wraper{
    border-left: 1px solid black;
    height: 100%;
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid black;
    }
    .item{
        cursor: pointer;
        font-size: 18px;
        &:hover{
            background-color: rgb(219, 219, 219);
        }
    }
    .active{
        background-color: yellow;
    }
}

